addons:
  hosts:
    - rabbit
  apt_packages:
    - rabbitmq-server
language: php

php:
  - '7.0'
  - '7.1'
  - '7.2'
  - '7.3'

matrix:
  allow_failures:
    - php: '7.3'

env:
  - SYMFONY_VERSION=2.8.*
  - SYMFONY_VERSION=3.4.*

before_install:
  - phpenv config-add travis/z_php.ini
  - bash travis/install-apcu-pecl.sh

before_script:
  - sudo systemctl enable rabbitmq-server
  - sudo rabbitmq-plugins enable rabbitmq_stomp
  - sudo systemctl restart rabbitmq-server
  - composer install --prefer-dist --no-interaction

script:
  - SYMFONY_PHPUNIT_VERSION=7.5 SYMFONY_DEPRECATIONS_HELPER=weak bin/simple-phpunit --coverage-text # TODO: Fix deprecations

services:
  - rabbitmq
